body {
    display: 900px;
    flex-direction: column;
    line-height:1.5;
    background-color:dimgray;
    overflow:scroll;
}

header {
    display: 400px;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: darkgray;
    color:darkgoldenrod;
}

h1 {
    font-size: 250%;
}

h2, h3, h4, h5 {
    margin: 2% 0;
    font-size: 1.5rem;
    color: peru;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

nav ul {
    display:flex;
    justify-content: space-between;
    min: width 200px;px;
    padding: 10px;
}

nav a {
    color: darkslategray;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: dimgrey;
}

main {
    display: 700px;
    flex: 1 1 0;
    max-width: 1000px;
    margin: 2% auto;
}

article p {
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero {
    display: 400px;
    flex-direction: column;
    height: 500px;
    width:100%;
    margin: bottom 15px;
    background-image: url("../images/imageofpath.jpeg");
    background-size: cover;
    background-position: center;
}

.about {
    position:relative
}

.introduction, .my projects, .about-me, .contact {
    border-style: solid;
    border-width: 3px;
    border-color:coral;
    padding: 10px;
    margin: 15px;
    background-color: darkgrey;
}

.projects {
    position: relative;

}

.projects p {
    color:darkslategray;

}

.projects img {
    position: relative;
    width: 50%
    margin: 15px;
}

.horiseonlink {
    opacity: 1;
    display:inline;
    width: 80%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.horiseonlink:hover {
  opacity: 0.3;  
}

.contact {
    display: 300px;
    justify-content: space-evenly;
}

.contact a {
color:darkslategray;
font-size: 1.5rem;
font-weight: bold;
text-decoration: none;
}

.contact li {
    color:darkolivegreen;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif
    font-weight:bolder
    text-decoration: none;
    padding: 8px;
}

.contact a:hover {
    color:darkolivegreen
}

footer {
    display: 200px;
    justify-content: center;
    align-items: center;
    padding: 2%;
    font-size: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    background-color: darkslategray;
    color:darkslategrey;
}
